.flex{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: 8%;
    text-decoration: none;
}

.context{
   
    font-style: oblique;
    font-size: larger;
    list-style: none;
}
#logo{
  width: 10%;  
  float: left;
  border: solid;
}
a{
    text-decoration: none;
    
    padding-right: 7%;
    padding-left: 5%; 
    border-style: solid;
}
.img{
    width: 2%;
}
.contactphotos{
padding-top: 10%;

}

body{
    background-image: url(maxresdefault.jpg);
}

#t1{
padding-top: 10%;
}
#t2{
    width: 20%;
}